header {
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainVisual {
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    height: 600px;
    background-color: #fff;
}

.mainVisual p {
    font-size: 32px;
    font-weight: bold;
}

.slide {
    padding: 100px 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 16px;
    background: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px !important;
    height: 480px !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact {
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    height: 600px;
    background-color: beige;
}

footer {
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    height: 100px;
    background-color: #000;
    color: #fff;
}